In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

import json
from pandas.io.json import json_normalize

Debido a la necesidad de unir clases y razas, se investiga sobre las combinaciones de ambos parámetros. En base a una tabla de 10000 personajes creados, se establecen los valores en mayor proporción como 'recommended', los menos frecuentes como 'infrecuents' y el resto como neutrales. La tabla se crea con la referencia como base pero transformando el número de personajes en porcentajes en base al total. Se realiza en excel por comodidad aunque es #mejorable para realizarlo en pandas.

In [20]:
combo = pd.read_excel('../data/clean/combination.xlsx')

In [21]:
combo

     id_races  id_class  combination
0           1         1      Neutral
1           1         2      Neutral
2           1         3      Neutral
3           1         4   Infrequent
4           1         5  Recommended
..        ...       ...          ...
103         9         8   Infrequent
104         9         9      Neutral
105         9        10  Recommended
106         9        11  Recommended
107         9        12      Neutral

[108 rows x 3 columns]

In [22]:
combo.to_csv('../data/clean/combination.csv', index=False)