In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

import json
from pandas.io.json import json_normalize

import random

import math

## Funciones para dados y stats

Defino función para dado de seis caras.

In [2]:
def dado6():
    return random.choice([e for e in range(1,7)])

In [3]:
dado6()

3

Defino generación de valor para stats: cuatro tiradas de un dado de 6 caras, quedándote con la suma de los 3 resultados más altos.

In [4]:
def stat():
    
    a=[dado6(),dado6(),dado6(),dado6()]
    a.sort(reverse=True)
    a.pop()
    
    return sum(a)

In [5]:
stat()

9

Modificador: el resultado del stat -10 y entre dos, redondeado a la baja.

In [30]:
def modifier(c):
    c=stat()    
    a=c-10
    b=a//2
    return b

In [31]:
modifier(stat)

3

## Creación stats

In [9]:
columns=['class_name', 'CHA', 'CHA_modifier', 'CON','CON_modifier', 'DEX','DEX_modifier', 'STR','STR_modifier', 'INT', 'INT_modifier', 'WIS', 'WIS_modifier' ]

stats= pd.DataFrame(columns=columns)

stats

Empty DataFrame
Columns: [class_name, CHA, CHA_modifier, CON, CON_modifier, DEX, DEX_modifier, STR, STR_modifier, INT, INT_modifier, WIS, WIS_modifier]
Index: []

Debido a la necesidad de unir los stats con las clases y añadirlo a la tabla final, se buscan los valores básicos por defecto para cada clase y establecerlos de manera predefinida, pero podrían modificarse si se quisiera escoger otros con las funciones previamente definidas.

In [11]:
barbstats= ['Barbarian', 15, 2, 14, 2, 14, 2, 8, -1, 10, 0, 10, 0]

stats.loc[len(stats)]= barbstats


bardstats= ['Bard', 8, -1, 15, 2, 13, 1, 12, 1, 8, -1, 15, 2]

stats.loc[len(stats)]= bardstats


clerstats= ['Cleric', 15, 2, 14, 2, 14, 2, 8, -1, 10, 0, 10, 0]

stats.loc[len(stats)]= clerstats


druidstats= ['Druid', 8, -1, 14, 2, 14, 2, 12, 1, 15, 2, 8, -1]

stats.loc[len(stats)]= druidstats


figstats= ['Figther', 15, 2, 8, -1, 14, 2, 14, 2, 12, 1, 8, -1]

stats.loc[len(stats)]= figstats


monkstats= ['Monk', 8, -1, 15, 2, 14, 2, 10, 1, 15, 2, 8, -1]

stats.loc[len(stats)]= monkstats


palastats= ['Paladin', 8, -1, 15, 2, 15, 2, 8, -1, 8, -1, 15, 2]

stats.loc[len(stats)]= palastats


rangstats= ['Ranger', 15, 2, 14, 2, 14, 2, 8, -1, 8, -1, 15, 2]

stats.loc[len(stats)]= rangstats


rogstats= ['Rogue', 8, -1, 15, 2, 14, 2, 11, 0, 12, 1, 12, 1]

stats.loc[len(stats)]= rogstats


sorcstats= ['Sorcerer', 8, -1, 14, 2, 14, 2, 10, 0, 10, 0, 15, 2]

stats.loc[len(stats)]= sorcstats


warlstats= ['Warlock', 8, -1, 14, 2, 14, 2, 10, 0, 10, 0, 15, 2]

stats.loc[len(stats)]= warlstats


wizstats= ['Wizard', 8, -1, 14, 2, 14, 2, 15, 2, 12, 1, 8, -1]

stats.loc[len(stats)]= wizstats

In [12]:
stats

,class_name,CHA,CHA_modifier,CON,CON_modifier,DEX,DEX_modifier,STR,STR_modifier,INT,INT_modifier,WIS,WIS_modifier
0,Barbarian,15,2,14,2,14,2,8,-1,10,0,10,0
1,Bard,8,-1,15,2,13,1,12,1,8,-1,15,2
2,Cleric,15,2,14,2,14,2,8,-1,10,0,10,0
3,Druid,8,-1,14,2,14,2,12,1,15,2,8,-1
4,Figther,15,2,8,-1,14,2,14,2,12,1,8,-1
5,Monk,8,-1,15,2,14,2,10,1,15,2,8,-1
6,Paladin,8,-1,15,2,15,2,8,-1,8,-1,15,2
7,Ranger,15,2,14,2,14,2,8,-1,8,-1,15,2
8,Rogue,8,-1,15,2,14,2,11,0,12,1,12,1
9,Sorcerer,8,-1,14,2,14,2,10,0,10,0,15,2
10,Warlock,8,-1,14,2,14,2,10,0,10,0,15,2
11,Wizard,8,-1,14,2,14,2,15,2,12,1,8,-1

## Exportación

In [15]:

stats.to_csv('../data/clean/stats.csv', index=False)